@media screen and (max-width:576px){
    .About-content{
        width: 95%;
    }
    hr{
        width: 95%;
    }
    .heading h2{
        justify-content: center;
        width: 95%;
    }
    .About-popular {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }
    .Choose-box{
    width: 95%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(100px);
    grid-template-areas: 
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"

    }
    .Choose-section{
   width: 95%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }
 main{
    background-color: #230E3D;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
 .Episodes{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Featured-Episodes-Section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Host-Section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Host-container{
    flex-direction: column;
    gap: 16px;
}
.Host-content{
   justify-content: center;
   align-items: center;
   text-align: center;
}
.Host-container .Host-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer{
    height: 440px;
    height:248px;
    background-repeat: no-repeat;
    background-size:100%;
}
.footer-container{
    width: 400px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
}