*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 760px;
}
nav{
    display: flex;
    padding:20px;
    justify-content:space-around;
    align-items: center;
    background-color: #1A0B2E;
}
nav ul{
    list-style: none;
    display: flex;
    gap:32px;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
}

nav h1{
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
    background: linear-gradient(rgba(145,0,248,1),rgba(251,9,180,1),rgba(247,233,63,1));
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    display: flex;
    gap: 4px;
    align-items: center;
}
/* img-section */
 .img-section{
    background-image: url(./assets/hero-circle.png); 
    position: relative;
    left: 50%;
    background-repeat: no-repeat;


}
.banner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
 .btnn{
    width: 201px;
    color: #FFFFFF;
    background: linear-gradient(rgba(145,0,248,1),rgba(251,9,180,1),rgba(247,233,63,1));
    border: none;
    border-radius: 10000px;
    padding: 12px 26px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
 }
 .btn2{
    width: 147px;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius:10000px;
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
 }
 .button{
    display: flex;
    justify-content: center;
    gap: 8px;
 }
 .banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 8px;
 }
