*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 760px;
}
nav{
    display: flex;
    padding:20px;
    justify-content:space-around;
    align-items: center;
    background-color: #1A0B2E;
}
nav ul{
    list-style: none;
    display: flex;
    gap:32px;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120%;
}

nav h1{
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    background: linear-gradient(rgba(145,0,248,1),rgba(251,9,180,1),rgba(247,233,63,1));
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    display: flex;
    gap: 4px;
    align-items: center;
}
/* img-section */
 .img-section{
    background-image: url(./assets/hero-circle.png); 
    position: relative;
    left: 50%;
    background-repeat: no-repeat;


}
.banner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 500;
} 
.banner-content p{
    color: #FFFFFF;
    font-size: 16px;

}
 .btnn{
    width: 201px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    background: linear-gradient(rgba(145,0,248,1),rgba(251,9,180,1),rgba(247,233,63,1));
    border: none;
    border-radius: 10000px;
    padding: 12px 26px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
 }
 .btn2{
    width: 147px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 700px;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius:10000px;
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
 }
 .button{
    display: flex;
    justify-content: center;
    gap: 8px;
 }
 .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
 }
 .About-section{
    background-color: #1A0B2E;
    height: 648px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .About-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
 }
 .About-content h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
 }
 .About-content p{
    color: #FFFFFF;
    font-weight: 16px;
    line-height: 20px;
 }
 hr{
    color:#FFFFFF;
    width: 1200px;
    margin: 80px 200px;
 }
.About-popular{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    gap: 80px;
}
.About{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.About-popular .About h2{
    color: #00FF88;
    font-size: 48px;
    font-weight:900;
}
.About-popular .About p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}
